{% load static %}
<!DOCTYPE html>
<html lang="en" dir = "ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <style type="text/css">
      *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body{
        background-position: center;
        background-size: cover;
        margin-top: 40px;
      }
      .login{
        width: 800px;
        position: relative;
        top: 100px;
        margin: auto;
        padding: 10px 0px 10px 0px;
        text-align: center;
        border-radius: 15px 15px 0px 0px;
        letter-spacing: 2px;
      }
      .main{
        border-radius: 0px 0px 15px 15px;
        position: relative;
        top: 100px;
        width: 800px;
        margin: auto;
      }
      .form-control{
        margin-left: 0px;
        margin-top: 20px;
        width: 100px;
        font-size: 20px;
        font-weight: 200;
        letter-spacing: 1.5px;
      }
      .login_link{
        position: relative;
        left: 310px;
        bottom: -40px;
      }
    </style>
  </head>
  <body>
    {% include 'base.html' %}
    <div class="login"><h1> Sign Up </h1></div>
    <div class="main">
      <form class="form-signin" method="post">{% csrf_token %}
      
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Masukkan email" required autofocus>
      
        <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Masukkan username" required>
        
        <input type="password" name="password1" id="inputPassword1" class="form-control" placeholder="Masukan password" required>
      
        <input type="password" name="password2" id="inputPassword2" class="form-control" placeholder="Konfirmasi password" required>
      
        {% for field in signup_form %}
            <p>
              {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}
            </p>
        {% endfor %}
        {% if signup_form.non_field_errors %}
          <div style="color: red">
            <p>{{signup_form.non_field_errors}}</p>
          </div>
            
        {% endif %}
      
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>

        <div class="login_link">
          Sudah punya akun? Klik <a href="/pengguna/login">Login</a>
        </div>
      
      </form>
      
      
    </div>

  </body>
</html>