{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <title>Profile</title>
        <style>
        *{
          margin: 0;
          padding: 0;
        }
        body{
          display: block;
          justify-content: center;
          align-items: center;
          min-height: 100vh;
        }
        .judul{
          width: 800px;
          position: relative;
          top: 50px;
          margin: auto;
          padding: 10px 0px 10px 0px;
          text-align: center;
          border-radius: 15px 15px 0px 0px;
          letter-spacing: 2px;
        }
        .main{
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .notes{
          width: 300px;
          padding: 25px;
          margin: 50px;
          justify-self:auto;
          background-color: darkturquoise;
        }
        .notes:hover .text-group{
          top: 50px;
          opacity: 1;
          text-align: justify;
          font-family:"Verdana";
          font-size: 16px;
        }
        .text-group{
          position: absolute;
          background-color: aquamarine;
          width: 250px;
          word-break: break-all;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .text-group h3{
          margin-bottom: 10px;
        }
        .text-group h4{
          margin-bottom: 40px;
        }
        .notes:hover .card{
          margin-top: -15px;
        }
        .card{
          height: 200px;
          margin-top: -200px;
          position: relative;
          overflow: hidden;
          transition: .3s;
        } 
        .cover{
          width: 100%;
          height: 250px;
          position: relative;
          z-index: 20;
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: 0 10px 20px grey;
          border-radius: 10px;
          font-family: "Verdana";
          background: darkturquoise;
          word-break: break-all;
        }
        .logout_link{
        position: relative;
        left: 0px;
        bottom: -25px;
      }
        </style>
    </head>
    <body>
        {% include 'base.html' %}
        {% if user %}
        <div class="judul"><h1> Profile </h1></div>
        <div class="main">
          <div class="notes">
            <div class="cover">
              <h1>Hi, {{user.username}}</h1>
            </div>
            <div class="card">
              <div class="text-group">
                <h3>Username: {{user.username}}</h3>
                <h4>Email: {{user.email}}</h4><br>
              </div>
              <div class="logout_link">
                Lupa password? Klik <a href="/pengguna/logout">logout</a>
              </div>
            </div>
          </div>
        </div>
      
        {% endif %}

    </body>
</html>
        