{% load static %}
<!DOCTYPE html>
<html lang="en" dir = "ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Login</title>
    <style type="text/css">
      *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body{
        background-position: center;
        background-size: cover;
        margin-top: 40px;
      }
      .login{
        width: 800px;
        position: relative;
        top: 100px;
        margin: auto;
        padding: 10px 0px 10px 0px;
        text-align: center;
        border-radius: 15px 15px 0px 0px;
        letter-spacing: 2px;
      }
      .main{
        border-radius: 0px 0px 15px 15px;
        position: relative;
        top: 100px;
        width: 800px;
        margin: auto;
      }
      .detail{
        margin-left: 200px;
        margin-top: 20px;
        width: 100px;
        font-size: 20px;
        font-weight: 200;
        letter-spacing: 1.5px;
      }
      .input{
        position: relative;
        display: block;
        left: 200px;
        width: 50%;
        padding: 0.75rem;
        box-sizing: border-box;
        border-radius: var(--border-radius);
        border: 1px solid darkturquoise;
        outline: none;
        background: rgb(255, 255, 255);
        transition: background 0.2s, border-color 0.2s;
      }
      .submit{
        height: 60px;
        margin: 10px 0;
      }
      .submit input{
        position: relative;
        left: 350px;
        top: 20px;
        height: 50%;
        width: 15%;
        font-size: 18px;
        font-weight: 700;
        border-radius: 2px;
        letter-spacing: 2px;
        background-color: darkturquoise;
      }
      .signup_link{
        position: relative;
        left: 310px;
      }
    </style>
  </head>
  <body>
    {% include 'base.html' %}
    <div class="login"><h1> Login </h1></div>
    <div class="main">
          <form action= "" method= "POST">
            {% csrf_token %}
            <div id="email">
              <h2 class="detail" for="email">Email</h2>
              <input class="input" type="text" id="email" name="email" autofocus placeholder="Masukkan Email"><br>
            </div>
            <div id="password">
              <h2 class="detail" for="password">Password</h2>
              <input class="input" type="password" id="password" name="password" autofocus placeholder="Masukkan Password"><br>
            </div>
            <div class="submit">
              <input type ="submit" value="Login">
            </div>
            <div class="signup_link">
              Belum punya akun? Klik <a href="/pengguna/signup">Signup</a>
            </div>
          </form>
    </div>
    {% for field in login_form %}
      <p>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
  {% endfor %}
  {% if login_form.non_field_errors %}
    <div style="color: red">
      <p>{{login_form.non_field_errors}}</p>
    </div>
      
  {% endif %}
  </body>
</html>
