.container {
  display : flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding : 30px;
}

.container-1 {
  display : flex;
  justify-content : center;
  flex-direction: row;
  align-items: center;
  gap : 20px;
  padding : 10px;
}

.container-2 {
  display : flex;
  flex-direction: row;
  align-items: center;
  gap : 20px;
}

.container-3 {
  padding: 0px 130px;
}

#all-message {
  display: grid !important;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap : 20px; 
  padding : 10px;
}

.card-donasi {
  background-color: #AFE2D6;
  border-radius : 10px;
  margin: 10px 0px;
  padding: 20px 36px;
  width: 80%;
}

.emoney {
  width: 87px;
}

.btn-light {
  background-color: #AFE2D6 !important;
  border: 0px !important;
}

input[type='number'] { 
  width: 100%;
  height: 30px;
  border: 0px;
}

.card{
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
}

.card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card-text {
  overflow: hidden;
}

.card-img-top{
  object-fit: cover;
  height: 200px !important;
  overflow: hidden !important;
}

.text {
  padding: 87px;
  text-align: center;
}

.text-1 {
  padding-top: 90px;
  text-align: center;
}

.btn-primary {
  background-color: #629A7F !important;
  border-color: #629A7F !important;
}

.btn-secondary {
  background-color: #629A7F !important;
  border-color: #629A7F !important;
}

.add-form {
  display: flex; 
  flex-direction: column; 
  gap: 12px; 
  padding: 20px
}

.add-form1 {
  display: flex; 
  flex-direction: column; 
  gap: 12px; 
  align-items: center;
  width: 800px;
}

.integer {
  background-color: #e3f1ee !important;
}

/* For checkbox image */
ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

input[type="checkbox"][id^="cb"] {
  display: none;
}

.lbl {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.lbl::before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

.lbl img {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked+.lbl {
  border-color: #ddd;
}

:checked+.lbl::before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
}

:checked+.lbl img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
}