/*body{
    background-color:#c7a284;
    color: black;
    font-family: Georgia;
}*/

.formulir{
    width: 100%;
    width: 200px;
    margin: 4rem auto 0 auto;
}

#nform{
    background-color: #ffffff;
}

/* @media screen and (max-width: 991px) {
    #nform{
        background-color: aliceblue;
    }
    .new{
        position: relative;
    }
} */

@media(min-width: 768x){
    .formulir{
      max-width: 640px
    }
}