/* button */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
.html {
  font-family: Arial,Helvetica,sans-serif;
  background: linear-gradient( rgba(223, 136, 136, 0.2), rgba(0, 0, 0, 0.2) );
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.heading{
  text-align:center;
  background-color: #9df3df;
  color: rgba(5, 5, 5, 0.995);
  padding: 10px 5px;
  margin: 2px 0;
  border: none;
  border-radius: 30px;
}
.w{
  margin: 20px;
  border-radius: 5px;
  border: none;
  margin: 1px 0;
}
.wrapper {
  text-align:center;
  background-image: linear-gradient(#a0ebd9, #b0ece4, #b3ddd7, #d8f5ee);
  padding: 10px;
  border: none;
  margin: 2px 0;
}
.w1{
  padding: 9px;
  text-align:center;
  margin: 10px;
  border-radius: 20px;
  background: linear-gradient(to bottom, #9df3df 58%, #ccffcc 100%);
  background-color: #998f8f;
}
.w2{
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  width: auto;
}
.bg{
  background: linear-gradient(to bottom, #9df3df 58%, #ccffcc 100%);
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.button {
  padding : 15px 32px;
  border : none;
  font-size: 16px;
  color: #141414;
  border-radius: 20px;
}
.b1 {
  background-color: #9df3df;
  width: 100%;
}

.b2{
  background-color: #fdfffd;
  width: 100%;
  color: rgba(7, 7, 7, 0.995);
}

.b3::after{
  background-image: url("../img/plus1.68a7bf20a89a.jpg");
}

.b3:not(.collapsed)::after{
  background-image: url("../img/minus.880deea253e1.png");
}
