<!-- buat navbar -->
{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="{% static 'css/faq.css' %}" rel="stylesheet">
    <title>Frequently Ask Question!</title>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container-fluid banner-list-article ">
      <div class="row justify-content-center m-0" style="position: relative;">
        <img class="img-fluid d-none d-lg-block " src="https://corona.jakarta.go.id/img/logo/article-img-banner.svg" alt="" style="position: absolute;top: 20px;left:40px;max-width:14%;">
          <div class="col w w1" style="color: rgb(8, 7, 7);padding-top:80px;">
              <h4>Informasi Terkini</h4>
              <h1>Seputar COVID-19 dan Hachoo</h1>
              <br>
          </div>
      </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="row justify-content-center">
    <div class="col">
      <div class="w w2">
          <h2> <strong> FAQ </strong></h2>
          <p class="lead"> <strong>Pertanyaan yang sering ditanyakan</strong></p>
      </div>
    </div>
  </div>
  <div id="accordion">
    {% if question %}
      {% for var in question %}
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item w w1">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="b3 accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Accordian_q{{var.id}}" aria-expanded="false" aria-controls="flush-collapseOne">
              <strong>{{var.pertanyaan}}</strong>
            </button>
          </h2>
          <div id="Accordian_q{{var.id}}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              {{var.jawaban}}
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
    </div>
    <div>
      <br>
    </div> 
    {% if user.is_authenticated %}
    <div class="row justify-content-center">
    <div class="gap-0 col-4 ">
      <button class="button b1 btn btn-outline-dark" onclick="window.location.href='/Faq/addQ'" type="button"> <strong>Ask Question</strong> </button>
    </div>
    </div> 
    {% else %}
    <div class="row justify-content-center">
      <div class="gap-0 col-4 ">
        <button class="button b1 btn btn-outline-dark" onclick="window.location.href='/admin'" type="button"> <strong>Login untuk bertanya</strong> </button>
      </div>
      </div> 
    {% endif %}
    <div>
      <br>
    </div> 
    <div class="row justify-content-center">
      <div class="col">
        <div class="w w2">
            <h2> <strong> Artikel dan Berita </strong></h2>
            <p class="lead"> <strong>Artikel dan berita terbaru hari ini </strong></p>
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-5 g-4">
      <div class="col d-flex flex-wrap">
        <div class="card bg" style="width: 18rem;">
          <img src="https://www.biofarma.co.id/media/image/originals/post/2021/06/15/around-globe-virus-edit.jpg" class="card-img-top" alt="cv">
          <div class="card-body">
            <h5 class="card-title">Kenali Virus COVID-19</h5>
            <p class="card-text">30 Juli 2021</p>
            <a href="https://www.biofarma.co.id/id/berita-terbaru/detail/kenali-virus-covid19" class="btn btn-outline-primary">Lihat</a>
          </div>
        </div>
      </div>
      <div class="col d-flex flex-wrap">
        <div class="card bg" class="card-img-top" style="width: 18rem;">
          <img src="https://www.biofarma.co.id/media/image/originals/post/2021/06/15/around-globe-virus-edit.jpg" class="card-img-top d-block w-100" alt="cv">
          <div class="card-body">
            <h5 class="card-title">Bahaya Virus COVID-19</h5>
            <p class="card-text">30 Juli 2021</p>
            <a href="https://www.biofarma.co.id/id/berita-terbaru/detail/kenali-virus-covid19" class="btn btn-outline-primary">Lihat</a>
          </div>
        </div>
      </div>
      <div class="col d-flex flex-wrap">
        <div class="card bg" class="card-img-top" style="width: 18rem;">
          <img src="https://www.biofarma.co.id/media/image/originals/post/2021/06/15/around-globe-virus-edit.jpg" class="card-img-top d-block w-100" alt="cv">
          <div class="card-body">
            <h5 class="card-title">Hidup sehat</h5>
            <p class="card-text">30 Juli 2021</p>
            <a href="https://www.biofarma.co.id/id/berita-terbaru/detail/kenali-virus-covid19" class="btn btn-outline-primary">Lihat</a>
          </div>
        </div>
      </div>
      <div class="col d-flex flex-wrap">
        <div class="card bg" class="card-img-top" style="width: 18rem;">
          <img src="https://www.biofarma.co.id/media/image/originals/post/2021/06/15/around-globe-virus-edit.jpg" class="card-img-top d-block w-100 " alt="cv">
          <div class="card-body">
            <h5 class="card-title">Aktivitas di Masa Pandemi</h5>
            <p class="card-text">30 Juli 2021.</p>
            <a href="https://www.biofarma.co.id/id/berita-terbaru/detail/kenali-virus-covid19" class="btn btn-outline-primary">Lihat</a>
          </div>
        </div>
      </div>
      <div class="col d-flex flex-wrap">
        <div class="card bg" class="card-img-top" style="width: 18rem;">
          <img src="https://www.biofarma.co.id/media/image/originals/post/2021/06/15/around-globe-virus-edit.jpg" class="card-img-top d-block w-100" alt="cv">
          <div class="card-body">
            <h5 class="card-title">Update kasus COVID-19</h5>
            <p class="card-text">30 Juli 2021</p>
            <a href="https://www.biofarma.co.id/id/berita-terbaru/detail/kenali-virus-covid19" class="btn btn-outline-primary">Lihat</a>
          </div>
        </div>
      </div>
    </div>
    <br><br>
    <div class="row justify-content-center">
      <div class="col">
        <div class="w w2">
            <h2> <strong> Infografis </strong></h2>
            <p class="lead"> <strong>Infografis terbaru hari ini </strong></p>
        </div>
      </div>
    </div>
    <br>
  <div class="container">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
          <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="https://s3-kemenparekraf.s3.ap-southeast-1.amazonaws.com/Istilah_Covid19_1414049c42.jpg" alt="First slide" style="width:500px;height:700px;">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="https://dpubinmarcipka.jatengprov.go.id/dpu-bmck/uploads/infografis-covid-19-1.jpeg" alt="Second slide" style="width:500px;height:700px;">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="https://www.indonesia.go.id/assets/upload/mediapublik/1608125086_131037939_101000025186596_6723045263570650580_n.jpg" alt="Third slide" style="width:500px;height:700px;">
              </div>
          </div>
          <div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
          </div>
      </div>
      <p> Sumber: https://www.google.com/ </p>
      <br><br>
    </div>
  </body>
</html>

