{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      .judul{
        margin: 3%;
        margin-bottom: 0px;
      }
      .text{
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 3px;
        text-align: justify;
      }
      .card {
        background-color: #C7E5DA;
        padding: 10px;
        float: left;
        color: black;
        width: auto;
        height: auto;
        text-align: center;
        margin: 5px;
        display: none;
        border-radius: 5px;
      }
      .btn.btn-link{
        bottom: 0%;
      }
      .show {
        display: block;
      }

      .container-fluid {
        margin-top: 20px;
      }
      .close{
        border: none;
        background-color: white;
      }
      .btn.btn-secondary{
        background-color: white;
        color: black;
      }
      .btn.btn-primary{
        background-color: #2c551d;
      }
      .modal-body{
        text-align: left;
      }
      .pilih-tanggal{
        margin-top: 10px;
      }
      .leftright {
      
          margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 1.5%;
      }
      #myTable{
        margin-bottom: 3%;
      }
    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Vaksin</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  </head>
  <body>
    {% include 'base.html' %}
    {% if user.is_authenticated %}
    <h1 class="judul">Pilih lokasi vaksin tujuanmu!</h1>
    <p class="text">Ayo pilih tempat vaksin yang dekat dengan tempat tinggalmu! </br> Hachoo telah menyediakan beberapa pilihan lokasi dibilangan Kota Jakarta yang mungkin cocok dengan kamu.</p>

    <div class="leftright">
        <form class="input-lokasi" style="margin-bottom: 5px;">
        <label for="#myInput" style="font-size: 20px;">Cari tempat vaksinmu</label></br>
        <input id="myInput" type="text" placeholder="Search.."> 
      </form>
      
      <form action="" method="POST" accept="utf-8">
        {% csrf_token %}
        <label style="font-size: 20px;">Pilih tanggalmu..</label></br>
        {{form.date}}
        <input style="background-color: #2c551d; border:none; color: white; border-radius: 5px;" type ="submit" value="Pilih..">
      </form>
    </div>
    

    <div id="myTable" class="row justify-content-center row-cols-1 row-cols-md-5 g-2">
      {% if data %}
          {% for i in data %}
      <div class="card" style="background-color: #C7E5DA">
        {{ i.Nama }}</br>
        {{ i.Vaksin }}</br>
        {{ i.Mulai }} - {{i.Selesai}}</br>
        <button type="button" class="btn btn-link" onclick="window.location.href='/vaksin/sukses'">Pilih lokasi..</button>
      </div>
      {% endfor %}
        {% endif %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
      $(document).ready(function(){
        $("#myInput").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          console.log(value);
          $(".card").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });
      </script>

    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    {% else %}
      <div class="card">
          <p style="text-align:center">Silakan Login untuk Melanjutkan</p>
      </div>
      {% endif %}
  </body>
  
</html>
