{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      .judul{
        margin: 5%;
        text-align: center;
        font-size: 50px;
      }
      .text{
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 3px;
        text-align: center;
        font-size: 20px;
      }
    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Booking berhasil!</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  </head>
  <body>
    {% include 'base.html' %}

    <h1 class="judul">Booking jadwal vaksinasimu berhasil!</h1>
    <p class="text">Kamu sudah terdaftar sebagai pasien vaksinasi, Jaga terus kesehatanmu sebelum vaksinasi agar menghindari kejadian yang tidak kita inginkan. 
    </br> Lindungi terus diri dan keluargamu dari Virus COVID-19! Jangan kendor! </p>

    <p class="text"> Tetap jaga jarak, hindari kerumunan, dan patuhi terus protokol kesehatan yang berlaku!
    </br> Sampaikan salam dari kami, Kelompok TK PBP C10 selaku Developer Hachoo kepada kelargamu. </p>

    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
  
</html>
