{%load static%}
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"> <img src="{% static 'img/Logo Hachoo.png'%}" style="width:70%"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Homepage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/vaksin">Vaksin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'faq:index' %}">Informasi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cs">Layanan Pengguna</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/donasi">Donasi</a>
          </li>
        </ul>
        <!-- Untuk Profile -->
        {% if not user.is_authenticated %}
        <form class="d-flex justify-content-center">
            <a href="/pengguna/signup" class="btn btn-outline-success me-2">Sign Up</a>
            <a href="/pengguna/login" class="btn btn-outline-success ml-3 text-dark px-3">Log In</a>
        </form>
        {% else %}
        <form class="d-flex justify-content-center">
          <a href="/pengguna" class="btn btn-outline-success me-2">Profile</a>
          <a href="/pengguna/logout" class="btn btn-outline-success ml-3 text-dark px-3">Log Out</a>
      </form>
        {% endif %}
      </div>
    </div>
  </nav>
