{% extends 'base.html' %}
{% load static %}
{% block meta %}
  <title>Hachoo</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock meta %}

{% block content %}

  <img src="{% static 'img/Desktop - More About Us (Re-Design).png'%}" style="width: 100%" alt="Gambar tidak ditemukan">
  

  
{% endblock content %}
