{% extends 'base.html' %} {% load static %} {% block meta %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
    #tips-trick {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .card {
        min-width: 200px;
        max-width: 400px;
        border: none;
        display: inline-block;
        padding: 10px 25px;
        /* cursor: pointer; */
        border-radius: 36px;
        box-shadow: 2px 6px 20px rgba(0, 0, 0, 0.25);
    }
    
    .col-mw {
        min-width: 220px;
        max-width: 430px;
    }
    
    .m-auto {
        margin: auto 0;
    }
    
    .row {
        margin: 0;
    }
    
    .card>p {
        font-size: 1rem;
        font-weight: 400;
    }
    
    .card>h2 {
        font-size: 1.2rem;
        font-weight: 700;
        color: white;
    }
    
    .mb-2 {
        margin-top: 1rem;
        background-color: #16636D;
        color: white;
    }
    
    .button {
        margin: 0;
    }
    
    .mr-6 {
        margin-right: 3rem;
    }
    
    .tombol {
        background: #F0AD4E;
        border-radius: 9px;
        text-align: center;
        color: white;
        padding: 3px 10px;
    }
    
    .tips {
        background: #F0AD4E;
        border-radius: 9px;
        text-align: center;
        color: white;
        padding: 3px 8px;
        line-height: 50px;
        margin-bottom: 30px;
        margin-top: 100px;
    }
    
    p {
        color: white;
    }
    
    @media (max-width: 767.98px) {
        #header h1 {
            font-size: 5rem;
        }
    }
    
    @media (max-width: 750px) {
        #header h1 {
            font-size: 4rem;
        }
    }
    
    @media (max-width: 640px) {
        #header h1 {
            padding-top: 1rem;
            font-size: 3.5rem;
        }
    }
</style>
{% endblock %} {% block content %}
<section id="tips-trick">
    <div class="row" style="margin-left: 20px;">
        <div class="col-md">
            <div class=" col-mw ">
                <h3 class="tips ">Berikan Feedback-mu</h3>
                <form action='' method="POST" id="feedbackForm">
                    {% csrf_token %} {{ form.message.label_tag }} {{ form.message }}
                    <br>
                    <!-- <button type="button" class="tombol" id="submitBtn">Submit</button> -->
                    <input type="submit" id="submitBtn" class="tombol" value="Submit">
                </form>
            </div>
        </div>
        <div class="col-md flex-row" style="max-height: 300px;">
            <div id="middleSection" style="margin-bottom: 30px;">
                <div class="ui search">
                    <div class="ui icon input">
                        <input id="input-name" class="prompt" type="text" placeholder="Search Name">
                        <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </div>
            <div id="feedbacks" class="col-md flex-row" style="max-height: 300px; overflow-y: scroll;">
            </div>
        </div>
    </div>
</section>
<script>
    function renewFeedbacks() {
        $.ajax({
            method: 'GET',
            url: '/get-feedback/',
            dataType: 'json',
            success: function(data) {
                $('#feedbacks').empty();

                const feedbacksHtml = data.map((feedback) => `
                    <div class="card b-green mb-2 w-100 ">
                        <h2>
                            ${feedback.name}
                        </h2>
                        <p>
                            ${feedback.message}
                        </p>
                    </div>
                `).join('\n')

                $('#feedbacks').html(feedbacksHtml)
            }
        });
    }

    $(document).ready(function() {
        renewFeedbacks()

        $("#feedbackForm").submit(function(event) {
            event.preventDefault();

            $.ajax({
                type: "POST",
                url: "/feedback/",
                data: $("#feedbackForm").serialize(),
                success: function(response) {
                    $("#message_input").val("");
                    renewFeedbacks();
                }
            });
        });
    });
</script>

{% endblock %}
