{% extends 'base.html' %}
{% load static %}

{% block meta %}
  <title>Hachoo</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>
    .hachootext {
      margin-left: 1rem;
    }

    #tips-trick {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .card {
        min-width: 200px;
        max-width: 400px;
        border: none;
        display: inline-block;
        padding: 10px 25px;
        /* cursor: pointer; */
        border-radius: 36px;
        box-shadow: 2px 6px 20px rgba(0, 0, 0, 0.25);
    }
    
    .col-mw {
        min-width: 220px;
        max-width: 430px;
    }
    
    .m-auto {
        margin: auto 0;
    }
    
    .row {
        margin: 0;
    }
    
    .card>p {
        font-size: 1rem;
        font-weight: 400;
    }
    
    .card>h2 {
        font-size: 1.2rem;
        font-weight: 700;
        color: white;
    }
    
    .b-green{
      background-color: #AFE2D6;
    }

    .color-black{
      color: black!important;
    }
    
    .button {
        margin: 0;
    }
    
    .mr-6 {
        margin-right: 3rem;
    }
    
    .tombol {
        background: #629A7F;
        border-radius: 9px;
        text-align: center;
        color: white;
        padding: 3px 10px;
    }
    
    .tips {
        background: #629A7F;
        border-radius: 9px;
        text-align: center;
        color: white;
        padding: 3px 8px;
        line-height: 50px;
        margin-bottom: 30px;
        margin-top: 100px;
        width: fit-content;
        margin: auto;
        padding: 5
px
 20
px
;
    }
    
    p {
        color: white;
    }
    
    @media (max-width: 767.98px) {
        #header h1 {
            font-size: 5rem;
        }
    }
    
    @media (max-width: 750px) {
        #header h1 {
            font-size: 4rem;
        }
    }
    
    @media (max-width: 640px) {
        #header h1 {
            padding-top: 1rem;
            font-size: 3.5rem;
        }
    }
</style>
  
{% endblock meta %}

{% block content %}
<!-- <style>
  body{
    background-image: url('static/img/Homepage (Re-Design).png');
  }
</style>
<div class="content" style="background-image: url('static/img/Homepage (Re-Design).png');" width=720 height=1168></div> -->
  <div style="padding:0">
    <div class="row">
      <div class="col mt-5 ms-5 hachootext" >
        <p class="color-black">
          Hachoo adalah website dengan bantuan herokuapp yang memiliki 
          tujuan untuk mengurangi Covid-19 di daerah DKI Jakarta. 
          Hachoo sendiri telah menjadi layanan informasi penyedia vaksin di wilayah...
        </p>
        <a href="about-us/" class="btn btn-info" role="button">More about us...</a>
      </div>
      <div class="col">
        <img src="{% static 'img/Atas.png'%}" style="width: 100%" alt="Gambar tidak ditemukan">
      
        
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="{% static 'img/tengah.png'%}" style="width: 100%" alt="Gambar tidak ditemukan">
      </div>
    </div>
    <section id="tips-trick">
      <div class="row" style="margin-left: 20px;">
          <div class="col-md">
              <div class=" d-flex flex-column justify-content-center ">
                  <h3 class="tips col-md-">Berikan Feedback-mu</h3>
                  <form action='' method="POST" id="feedbackForm">
                      {% csrf_token %} {{ form.message.label_tag }} {{ form.message }}
                      <br>
                      <!-- <button type="button" class="tombol" id="submitBtn">Submit</button> -->
                      <input type="submit" id="submitBtn" class="tombol" value="Submit">
                  </form>
              </div>
          </div>
          <div class="col-md flex-row" style="max-height: 300px;">
              <div id="middleSection" style="margin-bottom: 30px;">
              </div>
              <div id="feedbacks" class="d-flex col-md flex-col" style="max-height: 300px; overflow-y: scroll;">
              </div>
          </div>
      </div>
  </section>

  
    <div class="row" style="padding-top: 2rem;">
      <div class="col">
        <img src="{% static 'img/bawah.png'%}" style="width: 100%" alt="Gambar tidak ditemukan">
      </div>
    </div>
  </div>
  <script>
    function renewFeedbacks() {
        $.ajax({
            method: 'GET',
            url: '/get-feedback/',
            dataType: 'json',
            success: function(data) {
                $('#feedbacks').empty();

                const feedbacksHtml = data.map((feedback) => `
                    <div class="card b-green mb-2 w-100 mx-2 ">
                        <h2 class="color-black">
                            ${feedback.name}
                        </h2>
                        <p class="color-black">
                            ${feedback.message}
                        </p>
                    </div>
                `).join('\n')

                $('#feedbacks').html(feedbacksHtml)
            }
        });
    }

    $(document).ready(function() {
        renewFeedbacks()

        $("#feedbackForm").submit(function(event) {
            event.preventDefault();

            $.ajax({
                type: "POST",
                url: "/feedback/",
                data: $("#feedbackForm").serialize(),
                success: function(response) {
                    $("#message_input").val("");
                    renewFeedbacks();
                }
            });
        });
    });
</script>

  <!-- <div class="row">
    <div class="article col-6">
      <p>
        Hachoo adalah website dengan bantuan herokuapp yang memiliki 
        tujuan untuk mengurangi Covid-19 di daerah DKI Jakarta. 
        Hachoo sendiri telah menjadi layanan informasi penyedia vaksin di wilayah...
      </p>
      <a href="about-us/" class="btn btn-info" role="button">More about us...</a>
    </div>
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br> -->
{% endblock content %}