{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>
            $(function () {
                var $src = $('#three'),
                    $dst = $('#four');
                $src.on('input', function () {
                    $dst.val($src.val());
                });
            });
        </script>
        <meta charset="UTF-8"/>
        <title>Donasi</title>
    </head>
    <body>
        {% include 'base.html' %}
        <div class="container">
            {% if user.is_authenticated %}
            <form class="add-form1" action="konfirmasi" method="POST">
                {%csrf_token%}
                <div class="card-donasi">
                    <div class="dialog-header">
                        <h5>Donasi Kepada yang membutuhkan</h5>
                        <hr>
                        <p>Mari membantu sesama yang sedang kesulitan akibat dari Covid-19</p>
                    </div>
                </div>
    
                <div class="card-donasi">
                    <div class="anonymus">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                            <label class="form-check-label" for="flexCheckIndeterminate">
                              Donasi sebagai anonymus
                            </label>
                          </div>
                    </div>
                </div>
                <div class="card-donasi">
                    <div class="sasaran-penerima">
                        <h5>Sasaran Penerima</h5>
                        <hr>
                        <div class="form-check">
                            <input required class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Pasien Covid-19
                            </label>
                        </div>
                        <div class="form-check">
                            <input required class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                                Bantuan Sosial
                            </label>
                        </div>
                    </div>
                </div>
    
                <div class="card-donasi">
                    <div class="donasi">
                        <h5>Nominal Donasi</h1>
                        <hr>
                        <div class="container-2">
                            <span>Rp</span>
                            <input required type="number" id="three" name="three" placeholder="5000" class="nom-form donate-value numberinput form-control integer"/>
                        </div>
                        <small>Donasi mulai dari Rp 5.000</small>
                    </div>
                </div>
    
                <div class="card-donasi">
                    <div class="jumlah-donasi">
                        <h5>Jumlah Donasi Anda</h5>
                        <hr>
                        <div class="container-2">
                            <span>Rp</span>
                            <input type="text" id="four" name="four" readonly placeholder="00" class="border-0 currency textinput textInput form-control integer"/>
                        </div>
                    </div>
                </div>
    
                <div class="card-donasi">
                    <div class="metode-pembayaran">
                        <h5>Pilih Metode Pembayaran</h5>
                        <hr>
                        <div class="form-check form-check-inline">
                            <input required class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1">
                            <img class="emoney" src="{% static 'images/ovo.png' %}">
                        </div>
    
                        <div class="form-check form-check-inline">
                            <input required class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1">
                            <img class="emoney" src="{% static 'images/gopay.png' %}">
                        </div>
    
                        <div class="form-check form-check-inline">
                            <input required class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1">
                            <img class="emoney" src="{% static 'images/dana.png' %}">
                        </div>
    
                        <div class="form-check form-check-inline">
                            <input required class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1">
                            <img class="emoney" src="{% static 'images/bca.png' %}">
                        </div>
    
                        <div class="form-check form-check-inline">
                            <input required class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1">
                            <img class="emoney" src="{% static 'images/bni.png' %}">
                        </div>
    
                        <div class="form-check form-check-inline">
                            <input required class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1">
                            <img class="emoney" src="{% static 'images/bri.jpeg' %}">
                        </div>
    
                        <div class="form-check form-check-inline">
                            <input required class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1">
                            <img class="emoney" src="{% static 'images/mandiri.png' %}">
                        </div>
                    </div>
                </div>
                <div style="width: 100%; display: flex; justify-content: center">
                    <input type="submit" value="Lanjutkan Pembayaran" class="btn btn-primary btn-lg btn-block">
                </div>
            </form>
            {% else %}
            <div class="card-donasi">
                <p style="text-align:center">Silakan Login untuk Melakukan Donasi</p>
            </div>
        </div>
        {% endif %}
    </body>
</html>
