{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">    
        <meta charset="UTF-8"/>
        <title>Donasi</title>
    </head>
    <body>
        {% include 'base.html' %}
        <div class="container">
            {% if user.is_authenticated %}
            <form class="add-form1" action="konfirmasi" method="POST">
                {%csrf_token%}
                <div class="card-donasi">
                    <div class="dialog-header">
                        <h5>Donasi Tabung Oksigen</h5>
                        <hr>
                        <p></p>
                    </div>
                </div>
    
                <div class="card-donasi">
                    <div class="anonymus">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                            <label class="form-check-label" for="flexCheckIndeterminate">
                              Donasi sebagai anonymus
                            </label>
                          </div>
                    </div>
                </div>
                <div class="card-donasi">
                    <div class="sasaran-penerima">
                        <h5>Sasaran Penerima</h5>
                        <hr>
                        <div class="form-check">
                            <input required class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                RSUD Tanah Abang
                            </label>
                        </div>
                        <div class="form-check">
                            <input required class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                                RSUD Cempaka Putih
                            </label>
                        </div>
                        <div class="form-check">
                            <input required class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                                RSUD Cengkareng
                            </label>
                        </div>
                        <div class="form-check">
                            <input required class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                                RSUD Kalideres
                            </label>
                        </div>
                    </div>
                </div>
    
                <div class="card-donasi">
                    <h5>Donasi Kebutuhan Barang</h5>
                        <hr>
                    <ul>
                        <li><input type="checkbox" id="cb1" />
                          <label class="lbl" for="cb1"><img src="https://media.karousell.com/media/photos/products/2021/6/10/tabung_oksigen_set_siap_pakai__1623305921_16b46b7a_progressive.jpg">
                            <br>
                            <p>Tabung 1 m3</p>
                            </label>
                        </li>
                        <li><input type="checkbox" id="cb2" />
                          <label class="lbl" for="cb2"><img src="https://media.karousell.com/media/photos/products/2021/6/10/tabung_oksigen_set_siap_pakai__1623305921_16b46b7a_progressive.jpg">
                            <br>
                            <p>Tabung 1,5 m3</p>
                            </label>
                        </li>
                        <li><input type="checkbox" id="cb3" />
                          <label class="lbl" for="cb3"><img src="https://media.karousell.com/media/photos/products/2021/6/10/tabung_oksigen_set_siap_pakai__1623305921_16b46b7a_progressive.jpg">
                            <br>
                            <p>Tabung 2 m3</p>
                            </label>
                        </li>
                      </ul>
                </div>

                <div style="width: 100%; display: flex; justify-content: center">
                    <input type="submit" value="Lanjutkan Pengiriman" class="btn btn-primary btn-lg btn-block">
                </div>
            </form>
            {% else %}
            <div class="card-donasi">
                <p style="text-align:center">Silakan Login untuk Melakukan Donasi</p>
            </div>
            {% endif %}
        </div>
    </body>
</html>
