{%csrf_token%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <script src="{% static '/js/donasi_js.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" ></script>

        <meta charset="UTF-8"/>
        <title>Donasi</title>
    </head>
    <body>
        {% include 'base.html' %}

        <!-- Start of Carousel -->
        <div class="top">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="{% static 'images/masker.jpg' %}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Donasi</h5>
                      <p>Mari berbagi kebaikan kepada sesama</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'images/data.jpg' %}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Donasi</h5>
                      <p>Ayo berdonasi melalui Hachoo</p>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
        <!-- End of Carousel -->

        <div class="text">
            <h1>Cara Mudah untuk Membantu Sesama</h1>
        </div>

        <!-- Start of Card -->
        <div class="container-1">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'images/hospital.jpeg' %}" class="card-img-top" alt="lala">
                <div class="card-body">
                  <h5 class="card-title">Donasi</h5>
                  <p class="card-text">Mari saling berbagi kebahagiaan dengan membantu sesama</p>
                  <a href="umum" class="btn btn-primary">Donasi Sekarang</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="https://asset.kompas.com/crops/icx7GbkU-U2QEIykzdpy2JfdSNk=/0x0:0x0/750x500/data/photo/2020/03/22/5e76de17b050b.jpeg" class="card-img-top" alt="lala">
                <div class="card-body">
                  <h5 class="card-title">Donasi APD </h5>
                  <p class="card-text">Bantu para tim medis terhindar dari paparan Covid-19</p>
                  <a href="apd" class="btn btn-primary">Donasi Sekarang</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="https://awsimages.detik.net.id/community/media/visual/2021/06/23/ilustrasi-tabung-oksigen_169.jpeg?w=700&q=90" class="card-img-top" alt="lala">
                <div class="card-body">
                  <h5 class="card-title">Donasi Tabung Oksigen</h5>
                  <p class="card-text">Bantu pasien Covid-19 yang memerlukan oksigen</p>
                  <a href="tabung-oksigen" class="btn btn-primary">Donasi Sekarang</a>
                </div>
            </div>
        </div>
        <!-- End of Card -->

        <!-- Start of Message -->
        <div class="text">
            <hr>
            <h1>Pesan-Pesan Orang Baik</h1>
        </div>
        <div class="container-3">
          <div id="all-message"></div>
        </div>
        <!-- End of Message -->

        <div class="container">
          <div class="text-1">
            <h5>Tulis Pesanmu</h5>
            <hr>
          </div>
          {% if user.is_authenticated %}
          <form action="" method="POST" class="add-form">
            {% csrf_token %}
            <p class="add-form">{{ form }}</p>
            <div style="width: 100%; display: flex; justify-content: center">
              <input type="submit" id="sub-btn" value="Tambahkan Pesan" class="btn btn-primary"/>
            </div>
          </form>
          {% else %}
          <p class="please-login p20px">Silakan Login untuk Menambahkan Pesan</p>
        </div>
        {% endif %}

        <!-- Start of JavaScript -->
        <script>
          
          const getAllMessage = () => {
            return $(document).ready(function () {
              $.ajax({
                url: "/donasi/all-message",
                success: function (results) {
                  results.map((result) => {
                    insertAllMessage(result);
                  });
                },
              });
            });
          };
          
          const insertAllMessage = (result) => {
            return $("#all-message").append(`
              <div class="card border-success mb-3" style="width: 15rem; height: 15rem; overflow: auto;">
                <div class="card-header">${result.fields.tittle}</div>
                <div class="card-body text-success">
                  <h5 class="card-title"></h5>
                  <p class="card-text">${result.fields.message}</p>
                </div>
              </div>
            `);
          };

          getAllMessage();

          document.getElementById('sub-btn').addEventListener('click', function(e){
            e.preventDefault()
          })
          $('#sub-btn').click(function(e){
            tittle = $('#id_tittle').val()
            message = $('#id_message').val()
            $.ajax({
              type: 'POST',
              url: `/donasi/`,
              data: {
                'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val(),
                'tittle': tittle,
                'message' : message 
              },
              success: function (result) {
                $("#all-message").empty()
                getAllMessage()
                $('#id_message').val("")
                $('#id_tittle').val("")
              },
            });
          }); 

        </script>
        <!-- End of JavaScript -->
    </body>
</html>