{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <meta charset="UTF-8"/>
        <title>Donasi</title>
    </head>
    <body>
        {% include 'base.html' %}
        <div class="container">
            <div class="card-donasi">
                <p style="text-align:center">
                    Terima Kasih sudah Berdonasi 😊 melalui Hachoo
                    <br>
                    Semoga apa yang telah kamu berikan bisa bermanfaat
                    <br>
                    bagi semua masyarakat ✨
                    <br>
                    Stay safe and stay healthy 😷
                </p>
            </div>

            <!-- Button trigger modal -->
            <button type="submit" class="btn btn-primary btn-lg btn-block" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Done
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Donasi Berhasil!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="location.href='/donasi'"></button>
                    </div>
                    <div class="modal-body">
                    Terima kasih telah berdonasi 😊
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="location.href='/donasi'">Close</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </body>
</html>